* {
  box-sizing: border-box;
}

body {
  margin: 0;
  background: #0C0A0F;
  font-family: "Google Sans", sans-serif;
  font-optical-sizing: auto;
  font-variation-settings: "GRAD" 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#root {
  width: 100%;
  min-height: 100vh;
}

::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}

::-webkit-scrollbar-track {
  background: #100828;
}

::-webkit-scrollbar-thumb {
  background: #383051;
  border-radius: 3px;
}

::-webkit-scrollbar-thumb:hover {
  background: #8a4fff;
}

.material-symbols-outlined {
  font-variation-settings: 'FILL' 0, 'wght' 400, 'GRAD' 0, 'opsz' 24;
  line-height: 1;
  display: inline-flex;
  align-items: center;
  vertical-align: middle;
}

.fira-code {
  font-family: "Google Sans", sans-serif;
  font-size: 13px;
}
